# Ignorar todo
*

# Designorar ficheros con extensiones
!*.*

# Designorar directorios
!*/

### La combinacion de arriba ignora todos los ficheros sin extension .c .h ###

# Ignorar ficheros objeto
*.o
*.d
vgcore*
*.swp
